
.parallax3 {
  /* The image used */
  background-image: url("images/Journey_into_mystery_FA_Thor_CGC_2.5.jpg");

  /* Set a specific height */
  height: 1500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}