<!DOCTYPE html>
<html>
<center>
<head>
<style>
h1 {
    font-family: verdana;
}
body {
    background-color: hsla(14, 100%, 53%, 0.6);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}
</style>
</head>
<body>
<h1>About Page</h1>
<ul>
    <li><a href="http://127.0.0.1:8000/home/">Home</a></li>
    <li><a href="http://127.0.0.1:8000/about/">About</a></li>
    <li><a href="http://127.0.0.1:8000/social/">Social</a></li>
    <li><a href="http://127.0.0.1:8000/contact/">Contact</a></li>
</ul><br>
<p>Under constuction currently...</p>
<div>
    <h1>ordo_ab_chao team members:</h1><br>
    <p>Huda Ali</p>
    <p>Ryan Goode</p>
    <p>Yanet Fonseca-Lopex</p>
    <p>John Heinz</p>
    
</div>

</body>
</center>
</html>