<!DOCTYPE html>
<!-- Write your comments here -->
<html>
    <head>
        <meta charset="utf-8">
        <title>home</title>
        <link rel="stylesheet" href="/static/img/1972_topps_football.jpg">

    </head>
<center>
<h1 style="color:red;border:1px solid Tomato;">Home Page</h1>
<p><i>Under constuction currently...</i></p>
<hr>
<pre>
<p style="background-color:#ff6347;">
The entry box below will take eBay search words and create a GET request to ebay's 
database, and return JSON content:
</p>
<form>
    <label for="ebay_search">ebay search words:</label><br>
    <input id="ebay_search" type="text" name="search_words" size="100" value="{{ ebay_search_text }}"><br>
    <input type="submit" value="Submit">
</form>
    
</pre>
<a href="http://127.0.0.1:8000/about/">About Page</a>
<br>
<a href="http://127.0.0.1:8000/social/">Social Page</a>
<br>
<a href="http://127.0.0.1:8000/contact/">Contact Page</a>
<br>
<button>This does nothing!</button>
<br>
<img src="/static/img/1972_topps_football.jpg" width="300" height="300"alt="image">
<br>
<p style="color:yellow;">This has a <sub>subscript</sub></p>
<b>This text is bold,</b><strong> strong,</strong> <em>emphasized...</em>
<br>
John's quote: <q>learning webdev is a mine field.</q>
<p style="color:MediumSeaGreen;">This text is written in Medium Sea Green</p>

</center>
</body>
</html>