<!DOCTYPE html>
<!-- Write your comments here -->
<html>
<head>
<style>
<title>home</title>


</style>
</head>
<body style="background-color:powderblue;">
<center>
<h1 style="color:red;border:1px solid Tomato;">Home Page</h1>
<p><i>Under constuction currently...</i></p>
<hr>
<pre>
<p style="background-color:#ff6347;">
This is a paragraph of some stuff I'm just typing up to practice
my html, for my first webpage. This is an example type...
</p>
</pre>
<a href="http://127.0.0.1:8000/about/">About Page</a>
<br>
<a href="http://127.0.0.1:8000/social/">Social Page</a>
<br>
<a href="http://127.0.0.1:8000/contact/">Contact Page</a>
<br>
<button>This does nothing!</button>
<br>
<img src="72football.jpg" width="300" height="300"alt="image">
<br>
<p style="color:yellow;">This has a <sub>subscript</sub></p>
<b>This text is bold,</b><strong> strong,</strong> <em>emphasized...</em>
<br>
John's quote: <q>learning webdev is a mine field.</q>
<p style="color:MediumSeaGreen;">This text is written in Medium Sea Green</p>

</center>
</body>
</html>