
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'directions/style.css' %}">
    <title>Directions Page</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #4CAF50;
        }
  </style>
  </head>
  <body>
      <div>
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/about_website">About website</a></li>
          <li><a href="/directions">Directions</a></li>
        </ul>
      </div>
        <div class="parallax23" align="center">
            <h1 class="a">directions page</h1>
            <div align="center">
                <p class="b">
                    <strong><b>How to use the keyword search box on the home page:</b></strong><br>
                    Learning how to use the keyword search box has a moderate learning curve, and is an 
                    acquired skill.<br>
                    <strong><b>Number One</b></strong>:<br>
                    It's knowing what to type in. When you type in the keyword search, press 'Enter', you 
                    will be directed to a knew html page called 'graphs'. You will see three consecutive 
                    graphs and then a dataframe called 'Past Sales'. That dataframe displays many of the 
                    fields that were received back from Ebay's database. (<strong><b>NOTE</b></strong>:<i>By
                     the way, it returns up to 100 items, up to 4 months ago. On Ebay's website, you can 
                     only search for completed items and sold items up to 2 months. So the keyword search 
                     allows you to go back in time double the amount than manually doing the search on Ebay's 
                     website.</i>) You need to look at all the items in the dataframe. Pay attention to the 
                     'title' column and 'price' column. Once you are satisfied that you are getting all the 
                     items <i>YOU DO WANT</i>, you need to see what's in the dataframe you <i>DON'T WANT</i>!<br>
                     <strong><b>Number two</b></strong>:<br>
                     Know you want to check the dataframe for what you don't want. Know you need to learn how 
                     to exclude items from the results you don't want. You do this by taking a word from the 
                     'title' from an sold auction you don't want, that unique to it and not to any other auction 
                     title's you DO WANT. Go back to the Home Page and re-type in the original keywords, and know 
                     add a dash, no space, then the word you want to exclude from the search. Example: -compare. 
                     I this example, any auction title with the word 'compare' will be excluded from the results. 
                     This should help you go through the process of refining the list of sold items in the 'Past 
                     Sales' dataframe with exactly all the ones you want and none of the ones you don't want. This 
                     may get challenging sometimes. There are a lot of sellers on Ebay that exploit keywords in 
                     titles to get more views, attract more attention to their crappy auction (most likely anyway! Hah!).
                     <br><strong><b>Number three</b></strong>:<br>
                     Now you got want you want...hopefully, and without not that much practice either. The results 
                     in the 'Past Sales' dataframe should be compareable and exactly (or almost), to a very specific 
                     keyword search, categorically, on Ebay manually. I highly recommend you try manually searching on 
                     Ebay and learn how to use their system. This is important for learning what to type into the 
                     keyword search box on the Home Page, and learning how to compare manually searches on Ebay with 
                     the results from your keyword search here.
                </p>
            </div>
        </div>
  </body>
</html>