
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'about_us/style.css' %}">
    <title>About Page</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #4CAF50;
        }
  </style>
  </head>
  <body>
      <div>
          <ul>
              <li><a class="active" href="http://127.0.0.1:8000">Home</a></li>
              <li><a href="http://127.0.0.1:8000/blog">Blog</a></li>
              <li><a href="http://127.0.0.1:8000/contact">Contact Us</a></li>
              <li><a href="http://127.0.0.1:8000/about">About Us</a></li>
          </ul>
      </div>
  <center>
      <div class="parallax2" align="center">
          <h1 class="a">About Us page - Welcome!</h1><br>     
          <div class="row">
              <div class="col-6 menu">
                  <img src="{% static 'about_us/images/IUS_logo.png' %}">
              </div>
              <div class="col-1 menu">
                  <img src="{% static 'about_us/images/C346_project_group.png' %}" width="325" height="250">
              </div>
          </div>
          <p class="redblackstyle">
              This website is a C346 Software Engineering project for Indiana University Southeast. The picture to the 
              top-right of this paragraph shows (from left to right): Yanet Fonseca-Lopez, Huda Ali, John Heinz. The 
              group picture was taken inside classroom LF139 in the Life Sciences building at IUS. The source code for 
              our website is available in Github at this link:<br>
              <a href="https://github.com/IUS-CS/project-ordo_ab_chao" alt="project link">See our source code at Github</a><br>
          </p><br>
          <h1 style="color:white;font-size:4em"><i>Team member profiles:</i></h1><br><br>
          <div class="row">
              <div class="col-5 menu">
                  <img src="{% static 'about_us/images/John_Heinz_profile_image_cropped.png' %}" width="110" height="100">
              </div>
              <h1 style="color:red;font-size:4em;background-color:black;margin:20px;padding:30px;width:40%;">
                  John Heinz
              </h1>
          </div>
          <p class="redblackstyle">
              <strong>Role</strong>: Team Leader<br>
              <strong>Responsible</strong>: John Heinz is the team leader of team Ordo Ab Chao and mainly
              responsible for the prediction algorithms based on the ebay response content for each keyword 
              search. John is also responsible for overseeing the entire project and all aspects thereof.
          </p>
          <div class="row">
              <div class="col-5 menu">
                  <img src="{% static 'about_us/images/Huda_Ali_cropped.png' %}" width="100" height="100">
              </div>
              <h1 style="color:red;font-size:4em;background-color:black;margin:20px;padding:30px;width:40%;">
                  Huda Ali
              </h1>
          </div>
          <p class="redblackstyle">
              <strong>Role</strong>: api requests<br>
              <strong>Responsible</strong>: Huda Ali is responsible for handling and managing any api 
              requests for our django website. This includes the ebay-python-sdk and GET/POST 
              requests within the each application.
          </p>
          <div class="row">
              <div class="col-5 menu">
                  <img src="{% static 'about_us/images/Ryan_Goode_profile_image_cropped.jpg' %}" width="100" height="110">
              </div>
              <h1 style="color:red;font-size:4em;background-color:black;margin:20px;padding:30px;width:40%;">
                  Ryan Goode
              </h1>
          </div>
          <p class="redblackstyle">
              <strong>Role</strong>: backend database<br>
              <strong>Responsible</strong>: Ryan Goode is responsible for handling and managing the website's 
              backend SQLite3 database. This reponsibility also includes creating and managing models within 
              each app in the entire website.
          </p>
          <div class="row">
              <div class="col-5 menu">
                  <img src="{% static 'about_us/images/Yanet_Fonseca_Lopez_cropped.png' %}" width="100" height="100">
              </div>
              <h1 style="color:red;font-size:4em;background-color:black;margin:20px;padding:30px;width:40%;">
                  Yanet Fonseca-Lopez
              </h1>
          </div>
          <p class="redblackstyle">
              <strong>Role</strong>: User Interface (UI)<br>
              <strong>Responsible</strong>: Yanet Fonseca-Lopez is responsible for creating, altering and 
              managing the User Interface (UI) for the entire website. This includes learning HTML5/CSS/BOOTSTRAP 
              at <a href="https://www.w3schools.com/">https://www.w3schools.com/</a> for this project and 
              applying that knowledge to this website.
          </p>
      </div>
  </center>
  </body>
</html>