
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'display_graphs/style.css' %}">
    <title>Display graphs page</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #4CAF50;
        }
  </style>
  </head>
  <body>
      <div>
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
      </div>
      <div class="parallax5" align="center">
          <h1 style="background-color:white;align:center;color:red;padding:20px;width:50%;">Graph Page</h1>
              <p style="background-color:white;align:center;color:black;padding:50px;width:70%;">
                Graphs are displayed below:</p><br>
                  <div id="container"></div>
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/series-label.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <div id="container1"></div>
                      <script>
                        chart1 = {{ chart1|safe }};
                        Highcharts.chart('container1', {
                            chart: {
                                type: 'spline',
                                zoomtype: 'xy'
                            },
                            title: {
                                text: 'Past sell prices over time'
                            },
                            xAxis: {
                                type: 'datetime',
                                title: {
                                    text: 'Date'
                                }
                            },
                            yAxis: {
                                title: {
                                    text: 'price'
                                },
                                min: 0
                            },
                            series: [{
                                data: chart1
                            }]
                        });                
                      </script><br>
                      
                  <div id="container"></div>
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/series-label.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <div id="container2"></div>
                      <script>
                        <!--
                        chart2 = {{ chart1|safe }};
                        Highcharts.chart('container2', {
                            title: {
                                text: 'Past sell prices scatter plot with Regression line'
                            },
                            xAxis: {
                                type: 'datetime',
                                title: {
                                    text: 'Date'
                                }
                            },
                            yAxis: {
                                title: {
                                    text: 'price'
                                },
                                min: 0
                            },
                            series: [{
                            }]
                        });             
                      </script><br>
                      -->
                  <div style="background-color:white;">
                  {% autoescape off %}
                      {{ response }}                    
                  {% endautoescape %}
                  </div>
              <br>
      </div>
  </body>
</html>