
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'about_website/style.css' %}">
    <title>About Website</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #4CAF50;
        }
  </style>
  </head>
  <body>
      <div>
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/about_website">About website</a></li>
          <li><a href="/directions">Directions</a></li>
        </ul>
      </div>
        <div>
            <center>
            <h1 style="color:red;"><i>About this Website</i></h1><br>
            <p class="redblackstyle" align="center">This website attempts to make predictions based off keyword 
            searches. It is specifically designed for three categories of 
            collectibles: trading cards, comic books and coins. These are all 
            high-end, expensive, professionally graded collectibles, typically 
            around $100.00 and up in value. Below are further descriptions of 
            these categories with specific examples.</p><br></center>
        </div>
        <h1 style="color:red;" align="center">Trading Cards</h1><br>     
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'about_website/images/1979_OPC_Wayne_Gretzky_PSA_9_resized.jpg' %}">
            </div>
                <p class="redblackstyle">
                    Trading cards in general is a very big subject. There are many different classes and sub-classes 
                    of trading cards overall. The most popular class of trading cards are sports cards. They fetch 
                    the highest values and professionally graded, high-demand, vintage sports cards are among the 
                    most collectible and expensive. The example to the left of the paragraph (image) is a 1979-80 
                    O-PEE-CHEE #18 Wayne Gretzky rookie card, graded by Professional Sports Authenticator (PSA) a 9 MINT 
                    condition. Wayne Gretzky Topps and O-PEE-CHEE rookie cards are some of the most expensive, highly 
                    popular, collectible hockey cards in the hobby. The main categories of sport cards the draw the 
                    the most attention are baseball, football, basketball, hockey, golf and NASCAR racing cards. The 
                    most popular grading companies for trading cards are Professional Sports Authenticator (PSA), Beckett 
                    grading services (BGS) and Beckett Vintage grading services (BVG), and Sports Card Guarantee (SGC).
                </p>
        </div>
        
        <div class="row">
                <p class="redblackstyle">
                    The image to the right of this paragraph is an example of a 1980-81 Topps basketball #6 Larry Bird 
                    and Magic Johnson dual rookie card (of both Bird and Magic), professionally graded by Beckett grading 
                    service (BVG - Beckett Vintage Grading) an 8.5 near mint to mint plus condition. Another highly collectible, 
                    vintage, professionally graded card as an investment. Rookie cards almost always tend to the the most 
                    valuable, highly collected cards of a certain player. The most valuable vintage cards are almost always 
                    inductees into the correspoding sports' Hall of Fame. Rare short prints and very scarce cards take up most 
                    of the highly valuable cards, other than rookie cards. Professionally graded sports cards have had an upward 
                    trend in value in the past 20 years, while the mid-grade and low-grade counterparts have decreased in value. 
                    That even includes vintate, highly popular cards of hall of famers like a 1965 Topps Carl Yastrzemski or even 
                    a 1958 Topps Al Kaline.
                </p>
            <div class="col-sm-1" align="left">
                <img src="{% static 'about_website/images/1980_Topps_magic_bird_BVG_8point5_resized.jpg' %}">
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'about_website/images/1985_Topps_8b_Blasted_Billy_PSA_9_resized.jpg' %}">
            </div>
                <p class="redblackstyle">
                    There are many more highly collectible trading cards than just sport cards. To the left of this paragraph 
                    is an image of a 1985 Topps Garbage Pail Kids #8b Blasted Billy. Topps did not make a lot of copies of the 
                    first series, from 1985, of Garbage Pail Kids, hence high grades from companies yield hundreds, or even 
                    thousands of dollars. Other non-sports trading cards that are popular are Magic - The Gathering, Pokemon, and 
                    most any licensed trading cards made before 1970. Goudey made many non-sports sets, issued in packs with bubble 
                    gum in a wax wrapper. Topps made many issues of trading card sets during the 50's and 60's, including sets of 
                    The Beattles music band, tv shows like Lost in Space, and much more. Even the non-sports tobacco cards from the 
                    19th century command high prices, professionally graded 8 near mint to mint or higher.
                </p>
        </div>
        <h1 style="color:blue;" align="center">Comic Books</h1><br>     
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'about_website/images/Walking_Dead_1_CGC_resized.jpg' %}">
            </div>
                <p class="redblackstyle">
                    Comic books is another huge area of highly collectible, professionally graded items that are bought and sold 
                    for investment purposes. To the left is an image of the very popular Walking Dead comic books, issue #1, first 
                    edition, graded CGC 9.8 near mint to mint condition. This comic books soared in value when AMC decided to make 
                    the very popular television series The Walking Dead. Most highly sought after comic books are vintage comic books, 
                    typically first appearances or something called an 'origin'. First appearances in comic books are what rookie cards 
                    are to sports trading cards. CGC, Certified Guaranty Company, is probably the most popular and collected grading 
                    company in the comic book industry. Comic books are divided up into 'ages. Here are the ages of comic books in 
                    chronological order: Golden Age (1938-1956), Silver Age (1956-1970), Bronze Age (1970-1985), Modern Age (1985-PRESENT DAY). 
                    The rarest and most valuable come from the Golden Age and Silver Age. These years contain the first appearances of 
                    today's most popular comic book stars. Comic books in general took a big down turn from the mid 1990's to the early 
                    2000's, along with all the other mass produced collectibles of the times including trading cards, coins, toys, just about 
                    anything that was really valuable if it was made before World War II. Comic books, took a big upturn starting around 
                    2003 due to all the movies that were being made about comic book heroes and 'leagues'. CGC also caters to specifc 'pedigrees' 
                    of comic books, such as the 'Mile High Collection'. Many special pedigrees of comic books fetch higher prices given the 
                    pedigree reputation.
                </p>
        </div>
        <div class="row">
            <p class="redblackstyle">
                To the left of this paragraph is a CGC professionally graded Golden Age Batman #1, the first appearance of 'The Joker'. The 
                resurgence of movies and television shows based off comic books gave a huge boost to the older, most valuable first appearance 
                and origins of the most famous comic book heroes. Many of these movies and shows featured comic book heroes from whats called 
                the 'Marvel Universe'. In comic books, the two most popular makers of comic books are Marvel and DC. Those two makers feature their 
                own 'Universe' of comic book heroes and villains. The Marvel Universe includes heroes and villains such as Spider-Man, Thor, Dr. Strange, 
                Deadpool, Iron Man, Silver Surfer, Captain America, Woliverine, Dr. Doom, Magneto, Red Skull, Loki, Ultran and countless more. The Marvel Universe 
                also includes very famous groups such as The X-Men, The Fantastic Four, The Avengers and Justice League of America. The 'DC' Universe 
                has Superman, Batman and Robin, Flash, Green Lantern, Wonder Woman, The Joker, Lex Luthor, Deathstroke, Two-Face, The Riddler and 
                Catwoman just too name a few. Both Universes are huge with countless memorable heroes, villains and groups of either.
            </p>
            <div class="col-sm-1" align="left">
                <img src="{% static 'about_website/images/Batman_1_FA_Joker_CGC_9_resized.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'about_website/images/Incredible_Hulk_1_FA_Hulk_CGC_5point5_resized.jpg' %}">
            </div>
                <p class="redblackstyle">
                    Stan Lee is the most popular writer, and made comic books for Marvel. Stan Lee has a cameo in almost all movies, about Marvel universe 
                    heroes/villains. The image to the left is a Silver Age 'The Indredible Hulk' #1, first appearance of the Hulk, professionally graded by 
                    CGC a 5.5 Fine minus (or Excellent minus condition). The Incredible Hulk, for instance, has had three major actors play him in the past 16 
                    years or so. The actors playing the Hulk in a movie include: Eric Bana, Edward Norton and Mark Ruffalo. Comic books started to really 
                    pick up value, in the 1970's, when some major motion pictures were made of comic book heroes. Christopher Reeve played Superman back in 
                    the late 1970's and early 1980's. That time period saw a huge rise in the value of Action Comics #1 (first appearance of Superman) and 
                    early Golden Age issues, as well as important issues in the DC Universe. Michael Keaton played Batman in the 1989 movie, seeing a huge 
                    rise in the 'Detective Comics' #27 (first appearance of Batman). Comic books will continue to see rising auction prices for high grade 
                    first appearance and origin issues from the Golden Age and Silver Age. These comic books, professionally graded, deserve price predictions 
                    using Data Science prediction models.
                </p>
        </div>
        <h1 style="color:red;" align="center">Coins/Numismatics</h1><br>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'about_website/images/1950_Franklin_half_dollar_NGC_PF67CAMEO_resized.jpg' %}">
            </div>
                <p class="redblackstyle">
                    PCGS (Professional Coin Grading Services) and NGC (Numismatic Guaranty Corp.) are the most popular professional grading services for U.S. 
                    coins. The a big percentage of the most popular coins are going to be U.S. and U.S.A. coins. To the left is an image of a beautiful 1950 
                    Benjamin Franklin Half dollar, professionally graded by NGC an Proof-67 grade with 'cameo' quality (rare, of course). The 'cameo' makes 
                    it extra special, and make it stick out from the other proof-65 and proof-64 copies with no 'cameo' in the proof surface. Collecting U.S. 
                    coins in a hobby that goes back at least a century. Coin collecting really gained momentum in the 1960's when the United States start making 
                    silver certificates and coins with silver content (with the exception of silver clad JFK half dollars circa 1965-1969). Children all over 
                    the country would go to the bank, change in paper currency for a bag of coins, and look for errors like the 1955 'Double Die' Lincoln wheat 
                    penny or the 1937-D 'three legged' Buffalo nickel. My father was one of these children back in the 1950's and 1960's. It was around this 
                    time that there was a major rise in the value of rare coins and paper currency. Collecting foreign coins is also a huge percentage of coin 
                    collecting as well. This includes everything from old Roman coins to Spanish Reals.
                </p>
        </div>
        <div class="row">
            <p class="redblackstyle">
                The image to the left shows one of the most valuable coins in U.S. history. I very rare 1913 Liberty Head V Nickel, graded by PCGS as Proof-66. 
                A very difficult grade to get for a proof minted coin from over 100 years ago. A coin like this would fetch around $4,000,000.00 or so. I (John Heinz) 
                collected coins as a child, not just sports cards and comic books. I would look for hours at coins, under my jeweler loop my dad bought me, and look 
                for errors that would make the coin valuable. Not all coins with a doubled die or an error are worth thousands of dollars. The industry determines 
                which errors are really valuable and no mention of other coins with errors. There are so many highly collectible types of U.S. coins. Morgan dollars 
                are really popular, gold double eagles, Seated Liberty dimes and half dollars, Standing Liberty quarters, Walking Liberty halves, the list goes on. 
                Collecting albums, getting all the mint marks for a year, was very popular many decades ago. The only thing that seemed to stand the test of time, like 
                trading cards and comic books, are the really rare, extra high grade, professionally graded 'Holy Grails' of the hobby.
            </p>
            <div class="col-sm-1" align="left">
                <img src="{% static 'about_website/images/1913_Liberty_V_nickel_PCGS_PR66_resized.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'about_website/images/1800_Ten_Dollar_gold_eagle_PCGS_AU53_resized.jpg' %}">
            </div>
                <p class="redblackstyle">
                    To the left is a rare U.S. 1800 $10 gold eagle Draped Bust (not mint mark typically means minted in Philadelphia). The coin was professionally graded 
                    by PCGS a AU-53 ('AU' means 'About Uncirculated'). Many of these graded, really rare, really valuable coins are perfect for prediction algorithms in 
                    modern Data Science. There are many prediction algorithms in Data Science. Some of these algorithms include: 'Out of sample'/Step-forward Analysis, 
                    Multivariate Linear Regression, many types of Neural Networks, K-Nearest Neighbor, K-Means Clustering and many more. Data Science is the future in 
                    'Data Mining', a very important tool that is very valuable to many very famous Corporations and Government agencies. The Department of Defense has 
                    been doing Data Science and Data Mining for many many decades. Longer than 'educated people' realize. Unfortunately, the coolest prediction algorithms, 
                    used by the DoD, are very highly classified and shrouded in mystery even today. Data Science is a big part of the future, and predicting professionally 
                    graded, high-end collectibles is wide open for price predictions, and fortunes to be made by companies down the road.
                </p>
        </div>
  </body>
</html>